<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>


<a routerLink="/broker-load-data" routerLinkActive="active">Cargar datos desde broker</a>

<hr/>

<router-outlet></router-outlet>
