<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngFor="let section of sections">
      <mat-card class="">
        <mat-card-header>
          <div mat-card-avatar>
            <i class="material-icons orange600 md-48">
              insert_chart_outlined
            </i>
          </div>
          <mat-card-title>{{section.title}}</mat-card-title>
          <mat-card-subtitle>{{section.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{section.description}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
