<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="brokerDataLoadForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="col-12">
          <mat-label>Instrumento</mat-label>
          <mat-select formControlName="instrument" name="instrument" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let instrument of instruments" [value]="instrument.id">
              {{instrument.code}} ({{instrument.codeBroker}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="col-12">
          <mat-label>Periodo</mat-label>
          <mat-select formControlName="period" name="period" required>
            <mat-option></mat-option>
            <mat-option *ngFor="let period of periods" [value]="period.id">
              {{period.valor}} - {{period.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6" >
        <mat-form-field class="col-12">
          <input matInput formControlName="dateIni" [matDatepicker]="picker_ini" [min]="minDate" [max]="maxDate"  placeholder="Escoja la fecha inicial" >
          <mat-datepicker-toggle matSuffix [for]="picker_ini"></mat-datepicker-toggle>
          <mat-datepicker #picker_ini></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6" >
        <mat-form-field class="col-12">
          <input matInput formControlName="dateFin" [matDatepicker]="picker_fin" [min]="minDate" [max]="maxDate"  placeholder="Escoja la fecha final" >
          <mat-datepicker-toggle matSuffix [for]="picker_fin"></mat-datepicker-toggle>
          <mat-datepicker #picker_fin></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button type="submit">Cargar Datos y reemplazar</button>
    </div>
  </form>
</div>
